n8n-stockx-enrichment-workflow.json
{
  "name": "StockX Product Enrichment (Daily)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-800, 300],
      "notes": "Runs daily at 3 AM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://157.90.21.65:8000/api/v1/integration/awin/enrichment/start",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "rate_limit", "value": "60"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "b2c3d4e5-f6a7-8901-2345-678901bcdefg",
      "name": "Start Enrichment Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-560, 300],
      "notes": "Starts background enrichment job"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "c3d4e5f6-a7b8-9012-3456-789012cdefgh",
      "name": "Wait Initial",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-320, 300],
      "notes": "Give job time to start"
    },
    {
      "parameters": {
        "url": "http://157.90.21.65:8000/api/v1/integration/awin/enrichment/latest",
        "options": {}
      },
      "id": "d4e5f6a7-b890-1234-5678-9012defghijk",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 300],
      "notes": "Get latest enrichment job status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.job.status }}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "e5f6a7b8-9012-3456-7890-123defghijkl",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [160, 300],
      "notes": "Check if job is done"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "f6a7b890-1234-5678-9012-3defghijklmn",
      "name": "Wait Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [160, 500],
      "notes": "Wait before checking again"
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json.job;\n\nreturn [{\n  json: {\n    status: job.status,\n    total: job.total_products,\n    processed: job.processed_products,\n    matched: job.matched_products,\n    failed: job.failed_products,\n    match_rate: job.results_summary?.match_rate_percentage || 0,\n    duration_minutes: Math.round((new Date(job.completed_at) - new Date(job.started_at)) / 60000),\n    message: `✅ Enrichment completed!\\n📊 ${job.matched_products}/${job.total_products} matched (${job.results_summary?.match_rate_percentage}%)\\n⏱️ Duration: ${Math.round((new Date(job.completed_at) - new Date(job.started_at)) / 60000)} minutes`\n  }\n}];"
      },
      "id": "a7b89012-3456-7890-1234-5defghijklmno",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 200],
      "notes": "Format completion message"
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json.job;\n\nreturn [{\n  json: {\n    status: 'in_progress',\n    progress: `${job.processed_products}/${job.total_products}`,\n    matched_so_far: job.matched_products,\n    message: `⏳ Enrichment in progress...\\n📊 ${job.processed_products}/${job.total_products} processed\\n✅ ${job.matched_products} matched`\n  }\n}];"
      },
      "id": "b890-1234-5678-9012-3456-defghijklmnop",
      "name": "Format Progress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400],
      "notes": "Format progress message"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "c901-2345-6789-0123-4567-efghijklmnopq",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [640, 300],
      "notes": "Combine all outputs"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Start Enrichment Job", "type": "main", "index": 0}]]
    },
    "Start Enrichment Job": {
      "main": [[{"node": "Wait Initial", "type": "main", "index": 0}]]
    },
    "Wait Initial": {
      "main": [[{"node": "Check Job Status", "type": "main", "index": 0}]]
    },
    "Check Job Status": {
      "main": [[{"node": "Is Completed?", "type": "main", "index": 0}]]
    },
    "Is Completed?": {
      "main": [
        [{"node": "Format Success", "type": "main", "index": 0}],
        [{"node": "Format Progress", "type": "main", "index": 0}]
      ]
    },
    "Format Success": {
      "main": [[{"node": "Merge Results", "type": "main", "index": 0}]]
    },
    "Format Progress": {
      "main": [[{"node": "Wait Retry", "type": "main", "index": 0}]]
    },
    "Wait Retry": {
      "main": [[{"node": "Check Job Status", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
