docs/n8n_workflows/01_multi_platform_order_sync.json
{
  "name": "Multi-Platform Order Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/integration/stockx/orders/sync",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "retry": {
              "maxRetries": 3,
              "retryInterval": 5000
            }
          }
        }
      },
      "id": "stockx-sync",
      "name": "Sync StockX Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/integration/ebay/orders/sync",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "retry": {
              "maxRetries": 3,
              "retryInterval": 5000
            }
          }
        }
      },
      "id": "ebay-sync",
      "name": "Sync eBay Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) as new_orders,\n  SUM(CASE WHEN source = 'stockx' THEN 1 ELSE 0 END) as stockx_orders,\n  SUM(CASE WHEN source = 'ebay' THEN 1 ELSE 0 END) as ebay_orders\nFROM transactions.orders \nWHERE created_at > NOW() - INTERVAL '15 minutes'",
        "options": {}
      },
      "id": "check-orders",
      "name": "Check New Orders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [650, 300],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.new_orders }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-orders",
      "name": "Has New Orders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#orders",
          "mode": "name"
        },
        "text": "=✅ **Order Sync Complete!**\n\n📦 *New Orders:* {{ $json.new_orders }}\n🛍️ *StockX:* {{ $json.stockx_orders }}\n🛒 *eBay:* {{ $json.ebay_orders }}\n⏰ *Synced:* {{ $now.format('DD.MM.YYYY HH:mm:ss') }}"
      },
      "id": "slack-notify",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1050, 200],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Sync StockX Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync eBay Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync StockX Orders": {
      "main": [
        [
          {
            "node": "Check New Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync eBay Orders": {
      "main": [
        [
          {
            "node": "Check New Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Orders": {
      "main": [
        [
          {
            "node": "Has New Orders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Orders?": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}
