n8n-workflows/stockx-profit-checker.json
{
  "name": "SoleFlipper - StockX Profit Checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "id": "schedule-node",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, sku, retail_price FROM catalog.product WHERE sku IS NOT NULL AND enrichment_version IS NOT NULL LIMIT 20;",
        "options": {}
      },
      "id": "postgres-get",
      "name": "Get Products from Catalog",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {"postgres": {"id": "soleflip-db", "name": "SoleFlipper PostgreSQL"}}
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://soleflip-api:8000/api/v1/products/{{ $json.id }}/stockx-market-data?currencyCode=EUR",
        "authentication": "none",
        "options": {"response": {"response": {"neverError": true, "responseFormat": "json"}}}
      },
      "id": "http-market-data",
      "name": "Get StockX Market Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const allItems = [];\n\nfor (const item of $input.all()) {\n  const productInfo = item.json;\n  const marketDataArray = item.json;\n  \n  const avgPurchasePrice = 55;\n  const stockxFeeRate = 0.125;\n  const minROI = 25;\n  \n  if (Array.isArray(marketDataArray)) {\n    for (const variant of marketDataArray) {\n      const lowestAsk = parseFloat(variant.lowestAskAmount || 0);\n      const sellFaster = parseFloat(variant.sellFasterAmount || 0);\n      const earnMore = parseFloat(variant.earnMoreAmount || 0);\n      \n      if (lowestAsk > 0) {\n        const netProceeds = lowestAsk * (1 - stockxFeeRate);\n        const profit = netProceeds - avgPurchasePrice;\n        const roi = (profit / avgPurchasePrice) * 100;\n        \n        if (roi >= minROI) {\n          allItems.push({json: {\n            product_id: productInfo.id,\n            product_name: productInfo.name,\n            sku: productInfo.sku,\n            variant_id: variant.variantId,\n            retail_price: parseFloat(productInfo.retail_price || 0),\n            lowest_ask: lowestAsk,\n            sell_faster: sellFaster,\n            earn_more: earnMore,\n            estimated_cost: avgPurchasePrice,\n            stockx_fees: (lowestAsk * stockxFeeRate).toFixed(2),\n            net_proceeds: netProceeds.toFixed(2),\n            profit: profit.toFixed(2),\n            roi_percentage: roi.toFixed(1),\n            checked_at: new Date().toISOString(),\n            alert_priority: roi > 50 ? 'HIGH' : roi > 35 ? 'MEDIUM' : 'LOW'\n          }});\n        }\n      }\n    }\n  }\n}\n\nallItems.sort((a, b) => parseFloat(b.json.roi_percentage) - parseFloat(a.json.roi_percentage));\nreturn allItems;"
      },
      "id": "code-calc",
      "name": "Calculate Profits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Every 6 Hours": {"main": [[{"node": "Get Products from Catalog", "type": "main", "index": 0}]]},
    "Get Products from Catalog": {"main": [[{"node": "Get StockX Market Data", "type": "main", "index": 0}]]},
    "Get StockX Market Data": {"main": [[{"node": "Calculate Profits", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"}
}
