n8n_workflows/stockx_import_workflow.json
{
  "name": "StockX Market Price Import",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerInterval": "hours",
              "hoursInterval": 4,
              "minutesInterval": 0
            }
          ]
        }
      },
      "id": "stockx-schedule-trigger",
      "name": "Schedule StockX Import",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/integration/stockx/import",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_TOKEN_HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from_date",
              "value": "={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "to_date",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "source",
              "value": "stockx_orders"
            }
          ]
        },
        "options": {
          "timeout": 300000,
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetween": 300000
          }
        }
      },
      "id": "stockx-import-request",
      "name": "Import StockX Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "continueOnFail": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-import-success",
      "name": "Check Import Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/quickflip/opportunities",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_TOKEN_HERE"
            }
          ]
        }
      },
      "id": "trigger-quickflip-analysis",
      "name": "Trigger QuickFlip Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        240
      ]
    },
    {
      "parameters": {
        "message": "StockX Import failed: {{ $json.error }}",
        "additionalFields": {
          "channel": "#soleflip-alerts",
          "username": "SoleFlipper Bot"
        }
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        900,
        360
      ]
    }
  ],
  "connections": {
    "Schedule StockX Import": {
      "main": [
        [
          {
            "node": "Import StockX Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import StockX Data": {
      "main": [
        [
          {
            "node": "Check Import Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Import Success": {
      "main": [
        [
          {
            "node": "Trigger QuickFlip Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-24T07:00:00.000Z",
      "updatedAt": "2025-09-24T07:00:00.000Z",
      "id": "stockx-import",
      "name": "StockX Import"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-24T07:00:00.000Z",
  "versionId": "1"
}